.nayana{
    background-color: red;
}
.vijay{
    background-color: blue;
}
.appu{
    background-color: rgb(46, 46, 46);
}
.samantha{
    background-color: yellow;
}
.mk{
    background-color: greenyellow;
}